<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <a [routerLink]="['/chicago']">Chicago</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/dallas']">Dallas</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/dc']">DC</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/losangeles']">Los Angeles</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/oc']">Orange County</a>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <a [routerLink]="['/sanjose']">San Jose</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/seattle']">Seattle</a>
    </div>
  </div>
</div>
<div class="wrapper">
<router-outlet>
</router-outlet>
</div>
